In [2]:
import pandas as pd
import zipfile36 as zipfile
import wget
import os

In [27]:
import psycopg2 as pg
import pymysql
import pandas.io.sql as psql
from sqlalchemy import create_engine

In [3]:
print('Beginning file download with wget module')
url = 'http://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv'
wget.download(url, 'gdp data.zip')

Beginning file download with wget module
100% [............................................................................] 128227 / 128227

'gdp data (1).zip'

In [4]:
# The dataset we need is 'API_NY.GDP.MKTP.CD_DS2_en_csv_v2_713242.csv'
df = pd.read_csv('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5349257.csv',skiprows=4)
df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129152e+10,2.180944e+10,2.370806e+10,2.821128e+10,2.611994e+10,2.968348e+10,...,9.826771e+11,1.003403e+12,9.231439e+11,8.898593e+11,1.030482e+12,1.016697e+12,1.009052e+12,9.341791e+11,1.089454e+12,NaN

In [39]:
class DataPipeline:
    def __init__(self, data):
        self.data = data
    def preprocess(self):
        self.gdp_transpose = self.data.set_index('Country Name')
        # Transpose the index and columns
        self.gdp_transpose = self.gdp_transpose.transpose()
        # Reset the index, sets, 'index' as a column
        self.gdp_transpose = self.gdp_transpose.reset_index()
        # Rename the 'index' column to year
        self.gdp_transpose = self.gdp_transpose.rename(columns={'index':'Year'})
        # Set the DataFrame Index to newly named 'Year'
        self.gdp_transpose = self.gdp_transpose.set_index('Year')
        self.gdp_transpose = self.gdp_transpose[4:]
        self.gdp_pct_diff = self.gdp_transpose
        self.gdp_pct_diff = self.gdp_pct_diff.pct_change()
        self.gdp_pct_diff_transpose = self.gdp_pct_diff.transpose().reset_index()
        self.melted_gdp = pd.melt(self.data,id_vars=['Country Name'],
                    value_vars=self.data.columns[1:],
                    var_name='Year',
                    value_name='GDP')
        self.melted_gdp_pct_diff = pd.melt(self.gdp_pct_diff_transpose,id_vars=['Country Name'],
                              value_vars=self.gdp_pct_diff_transpose.columns[1:],
                              var_name='Year',
                              value_name='GDP')
        self.df = self.melted_gdp.merge(self.melted_gdp_pct_diff, left_index=True, right_index=True)
    def transform(self):
        self.df = self.df.drop(['Country Name_y','Year_x',], axis=1)
        self.df = self.df.rename(columns={'Country Name_x':'Country Name',
                        'Year_y':'Year',
                        'GDP_x':'GDP',
                        'GDP_y':'GDP_pct_change'})
            # Cast Year to a numeric dtype
            #df['Year'] = pd.to_numeric(df['Year'])
            # Drop NAs
        self.df = self.df.dropna()
        self.df.head()
    def save(self,output_path):
        self.df.to_csv(output_path,index=False)
    def save_into_mysql(self):
        my_conn = create_engine("mysql+mysqldb://root:admin@localhost/sakila")
        self.df.to_sql(con=my_conn,name='GDP_Extracted_Data',if_exists='append',index=False)
    def run(self,output):
        self.preprocess()
        self.transform()
        self.save_into_mysql()
        self.save(output)

In [40]:
data = DataPipeline(df)

In [41]:
data.run('output.csv')